head {

}
header{

}
body {
background-color: solid white;

}
.h1One{
  font-family: 'Courgette';
    font-style: normal;
    font-weight: 400;
  color: orange;
  margin-top: -250px;
  margin-left: 1000px;
  font-size: 65px;
  text-shadow: 3px 3px #FF0000;
}

img.salmon {
    border-style: solid;
    border-right: 600px;
    border-left: 600px;
  text-align: left;
  height: 270px;
  width: 70%
}
a {
  padding: 30px;
  font-size: 20px;
  color: black;
  hover
}
a:hover {
  color: red;
}
img.fish{
  text-align: left;
 margin-top: 100px;
}
img.cookiefrost {
 margin-left: 600px;
 height: 250px;
}
h2{
  text-align: center;
  padding: 10px;

}
