head {

}
header{
  font-style: normal;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 55px;
  color: orange;
}
body {
background-color: solid white;

}

a.saleslink {
  color: black;
  display: block;
}
img.fishies {
  margin: auto;
    width: 20%;
    border: 1px black;
    padding: 10px;
    text-align: right;
}
img.fam {
  margin: auto;
    width: 50%;
    border: 1px black;
    padding: 10px;
    text-align: left;

}
img.salmon {
    border-style: solid;
    border-right: 300px;
    border-left: 300px;
    display: block;
    margin: 0 auto;
  text-align: center;
}
img.shirt {
  text-align: 
}
